:host {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
    main {
        max-width: 100%;
        margin: 0 auto;
        @media screen and (min-width: 900px) {
            max-width: 800px;
        }
    }
}